@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0
}

body {
    background-color: #121212
}

p, li, a, h1, h2, h3, h4, h5, h6, input, th, td {
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
}

*:focus {
    outline: none;
}

.tabel th, .tabel li {
    margin: 12px 24px;
}

.tabel li {
    text-align: left;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

hr {
    margin: 0 auto;
    height: 2px;
    width: 95%;
    border: none;
    background-color: #909092;
    position: relative;
    top: 12px;
    margin-bottom: 24px;
}

::-webkit-scrollbar {
    background-color: #303536;
    color: #fff6e5;
}

::-webkit-scrollbar-corner {
    background-color: #242729;
}

::-webkit-scrollbar-thumb {
    background: #686f73;
}

::-webkit-scrollbar-thumb:hover {
    background: #919a9e;

}

.navbar li, .navbar a {
    text-decoration: none;
}

.navbar header {
    display: flex;
    padding: 0 5%;
    background-color: #24252A;
    height: 50px;
    align-items: center;
}

.navbar {
    padding-bottom: 10px;
}

.logo {
    cursor: pointer;
    width: 50px;
    float: left;
}

.nav_links {
    padding-left: 72px;
}

.nav_links ul {
    width: 300px;
}

.nav_links li {
    display: inline-block;
    padding: 0 50px;
}

.nav_links li a {
    transition: color 0.3s, transform 0.3s;
}

.nav_links li a:hover {
    color: #b6b9ba;
    transform: scale(1.1);
}

.content {
    margin: auto;
    width: 85%;
    text-align: center;
}

.content a {
    color: #2cbfc9;
}

#kaas1 {
    width: 250px;
    display: box;
    float: left;
}

footer {
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    height: 2.5rem;
}

#copyright {
    text-align: center;
}